.root {

    CHART_COLOR_1: #f3622d;
    CHART_COLOR_2: #fba71b;
    CHART_COLOR_3: #57b757;
    CHART_COLOR_4: #41a9c9;
    CHART_COLOR_5: #4258c9;
    CHART_COLOR_6: #9a42c8;
    CHART_COLOR_7: #c84164;
    CHART_COLOR_8: #888888;
    CHART_COLOR_9: #b9bcb5;
    CHART_COLOR_10: #990006;
    CHART_COLOR_11: #44aab1;
    CHART_COLOR_12: #401833;
    CHART_COLOR_13: #da5e42;
    CHART_COLOR_14: #fde202;
    CHART_COLOR_15: #158b70;
    CHART_COLOR_16: #1a1d26;

}

.default-color0.chart-pie {
    -fx-pie-color: CHART_COLOR_1
}

.default-color1.chart-pie {
    -fx-pie-color: CHART_COLOR_2
}

.default-color2.chart-pie {
    -fx-pie-color: CHART_COLOR_3
}

.default-color3.chart-pie {
    -fx-pie-color: CHART_COLOR_4
}

.default-color4.chart-pie {
    -fx-pie-color: CHART_COLOR_5
}

.default-color5.chart-pie {
    -fx-pie-color: CHART_COLOR_6
}

.default-color6.chart-pie {
    -fx-pie-color: CHART_COLOR_7
}

.default-color7.chart-pie {
    -fx-pie-color: CHART_COLOR_8
}

.default-color8.chart-pie {
    -fx-pie-color: CHART_COLOR_9
}

.default-color9.chart-pie {
    -fx-pie-color: CHART_COLOR_10
}

.default-color10.chart-pie {
    -fx-pie-color: CHART_COLOR_11
}

.default-color11.chart-pie {
    -fx-pie-color: CHART_COLOR_12
}

.default-color12.chart-pie {
    -fx-pie-color: CHART_COLOR_13
}

.default-color13.chart-pie {
    -fx-pie-color: CHART_COLOR_14
}

.default-color14.chart-pie {
    -fx-pie-color: CHART_COLOR_15
}

.default-color15.chart-pie {
    -fx-pie-color: CHART_COLOR_16
}

/*LineChart Symbol CSS*/
.chart-line-symbol.series0 {
    -fx-background-color: CHART_COLOR_1, #ffffff;
}

.chart-line-symbol.series1 {
    -fx-background-color: CHART_COLOR_2, #ffffff;
}

.chart-line-symbol.series2 {
    -fx-background-color: CHART_COLOR_3, #ffffff;
}

.chart-line-symbol.series3 {
    -fx-background-color: CHART_COLOR_4, #ffffff;
}

.chart-line-symbol.series4 {
    -fx-background-color: CHART_COLOR_5, #ffffff;
}

.chart-line-symbol.series5 {
    -fx-background-color: CHART_COLOR_6, #ffffff;
}

.chart-line-symbol.series6 {
    -fx-background-color: CHART_COLOR_7, #ffffff;
}

.chart-line-symbol.series7 {
    -fx-background-color: CHART_COLOR_8, #ffffff;
}

.chart-line-symbol.series8 {
    -fx-background-color: CHART_COLOR_9, #ffffff;
}

.chart-line-symbol.series9 {
    -fx-background-color: CHART_COLOR_10, #ffffff;
}

.chart-line-symbol.series10 {
    -fx-background-color: CHART_COLOR_11, #ffffff;
}

.chart-line-symbol.series11 {
    -fx-background-color: CHART_COLOR_12, #ffffff;
}

.chart-line-symbol.series12 {
    -fx-background-color: CHART_COLOR_13, #ffffff;
}

.chart-line-symbol.series13 {
    -fx-background-color: CHART_COLOR_14, #ffffff;
}

.chart-line-symbol.series14 {
    -fx-background-color: CHART_COLOR_15, #ffffff;
}

.chart-line-symbol.series15 {
    -fx-background-color: CHART_COLOR_16, #ffffff;
}

/*LineChart line CSS*/
.default-color0.chart-series-line {
    -fx-stroke: CHART_COLOR_1
}

.default-color1.chart-series-line {
    -fx-stroke: CHART_COLOR_2
}

.default-color2.chart-series-line {
    -fx-stroke: CHART_COLOR_3
}

.default-color3.chart-series-line {
    -fx-stroke: CHART_COLOR_4
}

.default-color4.chart-series-line {
    -fx-stroke: CHART_COLOR_5
}

.default-color5.chart-series-line {
    -fx-stroke: CHART_COLOR_6
}

.default-color6.chart-series-line {
    -fx-stroke: CHART_COLOR_7
}

.default-color7.chart-series-line {
    -fx-stroke: CHART_COLOR_8
}

.default-color8.chart-series-line {
    -fx-stroke: CHART_COLOR_9
}

.default-color9.chart-series-line {
    -fx-stroke: CHART_COLOR_10
}

.default-color10.chart-series-line {
    -fx-stroke: CHART_COLOR_11
}

.default-color11.chart-series-line {
    -fx-stroke: CHART_COLOR_12
}

.default-color12.chart-series-line {
    -fx-stroke: CHART_COLOR_13
}

.default-color13.chart-series-line {
    -fx-stroke: CHART_COLOR_14
}

.default-color14.chart-series-line {
    -fx-stroke: CHART_COLOR_15
}

.default-color15.chart-series-line {
    -fx-stroke: CHART_COLOR_16
}

/*BarChart Color*/
.default-color0.chart-bar {
    -fx-bar-fill: CHART_COLOR_1
}

.default-color1.chart-bar {
    -fx-bar-fill: CHART_COLOR_2
}

.default-color2.chart-bar {
    -fx-bar-fill: CHART_COLOR_3
}

.default-color3.chart-bar {
    -fx-bar-fill: CHART_COLOR_4
}

.default-color4.chart-bar {
    -fx-bar-fill: CHART_COLOR_5
}

.default-color5.chart-bar {
    -fx-bar-fill: CHART_COLOR_6
}

.default-color6.chart-bar {
    -fx-bar-fill: CHART_COLOR_7
}

.default-color7.chart-bar {
    -fx-bar-fill: CHART_COLOR_8
}

.default-color8.chart-bar {
    -fx-bar-fill: CHART_COLOR_9
}

.default-color9.chart-bar {
    -fx-bar-fill: CHART_COLOR_10
}

.default-color10.chart-bar {
    -fx-bar-fill: CHART_COLOR_11
}

.default-color11.chart-bar {
    -fx-bar-fill: CHART_COLOR_12
}

.default-color12.chart-bar {
    -fx-bar-fill: CHART_COLOR_13
}

.default-color13.chart-bar {
    -fx-bar-fill: CHART_COLOR_14
}

.default-color14.chart-bar {
    -fx-bar-fill: CHART_COLOR_15
}

.default-color15.chart-bar {
    -fx-bar-fill: CHART_COLOR_16
}



